body {
 background-image: url("img/nola.jpg");
 background-color: #fff;
 background-repeat: no-repeat;
 background-size:cover;
}

h1 {
  padding-top: 80px;
  margin-left: 25px;
  text-align: left;
  color: #fff;
  font-size: 24px;
  font-family: Courgette;
}

h1 span {
  font-family: Courgette;
  font-size: 24px;
    color: #D6426E;
  text-shadow: 1px 1px #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p span {
  font-size: 16px;
  font-family: Roboto;
  text-transform: uppercase;
}

p {
  text-align: left;
  color: #000000;
  margin-left: 25px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700 !important;
}

section {
  text-align: center;
}
